@model assignment2.Models.ViewModels.StudentMembershipViewModel

@{
    ViewData["Title"] = "Edit";
}
<main role="main" class="pb-3">

    <h1>Edit</h1>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Full Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.FullName)
            </dd>
        </dl>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <table>
                    <tbody>
                        @foreach (var item in Model.Memberships)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @if (item.IsMember)
                                    {
                                        <a asp-action="deleteMembership" asp-route-studentId="@Model.Student.Id" asp-route-communityId="@item.CommunityId">Unregister</a>
                                        @*<a href="/Students/deleteMembership?studentId=@Html.DisplayFor(model => model.Student.Id)&communityId=@item.CommunityId">Unregister</a>*@
                                    }
                                    else
                                    {
                                        <a asp-action="addMembership" asp-route-studentId="@Model.Student.Id" asp-route-communityId="@item.CommunityId">Register</a>
                                        @*<a href="/Students/addMembership?studentId=@Html.DisplayFor(model => model.Student.Id)&communityId=@item.CommunityId">register</a>*@
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</main>